.container {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;

	.inner-container {
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		border-bottom: 1px solid #d7dde9;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.logo {
			margin-bottom: 1rem;
		}

		.welcome-message {
			display: flex;
			align-items: flex-start;

			h1 {
				font-size: 1.5rem;
				font-weight: 500;
				text-align: left;
			}
		}

		.date-info {
			text-align: left;
			span {
				color: rgba(0, 0, 0, 0.55);
				font-weight: 400;
				font-size: 1rem;
			}
		}
	}

	@media (max-width: 768px) {
		.inner-container {
			flex-direction: column;
			height: auto;
			padding: 1rem 0;

			.logo {
				margin-bottom: 1.5rem;
			}

			.welcome-message {
				width: 100%;
				h1 {
					font-size: 1.25rem;
					text-align: left;
				}
			}

			.date-info {
				margin-top: 0.5rem;
				width: 100%;
				span {
					font-size: 0.875rem;
					text-align: left;
				}
			}
		}
	}

	@media (max-width: 480px) {
		.inner-container {
			width: 95vw;
			padding: 0.5rem;
			align-items: start;
			.welcome-message {
				width: 100%;
				h1 {
					font-size: 1rem;
					text-align: left;
				}
			}

			.logo {
				margin-top: 3rem;
				margin-bottom: 0;
			}

			.date-info {
				width: 100%;
				span {
					font-size: 0.75rem;
					text-align: left;
				}
			}
		}
	}
}
